<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evergreen Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script type="module" src="../static/js/dashboard.js" defer></script>
    <script type="module" src="../static/js/sw.js" defer></script>

    <!-- BEGIN FAVICON -->
    <link rel="icon" href="/static/images/favicon-96x96.png">
    <meta name="theme-color" content="#1e4b3f">
    <link rel="apple-touch-icon" sizes="192x192" href="/static/images/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="256x256" href="/static/images/icon-384x384.png">
    <link rel="apple-touch-icon" sizes="256x256" href="/static/images/icon-512x512.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/static/images/icon-512x512.png">
    <!-- END FAVICON -->
    <!-- BEGIN INSTALLABLE APP-->
    <link rel="manifest" href="/static/manifest.webmanifest" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-title" content="Evergreen">
    <!-- END INSTALLABLE APP-->
</head>
<body>

    <!-- Header-->
    <header class="top-bar">
        <h1>Dashboard</h1>
        <img src="../static/images/logo.svg" alt="Evergreen Logo" class="logo">
    </header>

    <!-- Display user plant list-->
    <main>
        <h2>My Plant Collection</h2>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <button id="addPlantFromDashboardBtn" class="btn-add-plant" style="background-color: #1e4b3f; color: white; border: none; padding: 8px 16px; border-radius: 20px; cursor: pointer;">
                + Add Plant
            </button>
        </div>
        <ul id="plantList" class="plants-grid"></ul>
    </main>

    <!-- Navigation bar -->
    <nav class="bottom-bar">
        <a href="/dashboard" class="active">
            <img src="/static/images/icons/home_icon.png" alt="homeIcon" style="width: 24px; height: 24px;">
            <span>Home</span>
        </a>
        <a href="/plants">
            <img src="/static/images/icons/plant_icon.png" alt="plantIcon" style="width: 24px; height: 24px;">
            <span>Explore Plants</span>
        </a>
        <a href="/schedule">
            <img src="/static/images/icons/schedule_icon.png" alt="scheduleIcon" style="width: 24px; height: 24px;">
            <span>Schedule</span>
        </a>
        <a href="/profile">
            <img src="/static/images/icons/profile_icon.png" alt="profileIcon" style="width: 24px; height: 24px;">
            <span>Profile</span>
        </a>
    </nav>

</body>
</html>